@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@1,200&display=swap');


a {
  font-family: 'Texturina', serif;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 2px solid black;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}
